@import "mixins";
@import "wrapper";
@import "variables";

.aboutMain {
  height: 100%;

  overflow: hidden;
}

.description {
  margin-bottom: 40px;
  padding: 10px;
  position: relative;

  font-size: 18px;
  font-weight: 400;
  text-indent: 40px;
}

.img {
  width: 100%;
  opacity: 0.8;
}