@import "variables";
@import "wrapper";
@import "mixins";

.advantages {
  position: relative;

  color: $color-main;

  background-color: $color-white;
  @include blockShadows(bot);

  overflow: hidden;

  .wrapper {

  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;

  font-size: 14px;
}

.item {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  background-color: $color-c-five;
  box-shadow: inset -5px 5px 30px fade-out(black, 0.6);

  transition: opacity 200ms ease-out;
  overflow: hidden;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    border: 20px solid $color-white;
    border-right-color: transparent;
    border-bottom-color: transparent;

    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    border: 20px solid $color-white;
    border-left-color: transparent;
    border-top-color: transparent;

    z-index: 1;
  }
}

.title {
  height: 90px;
  padding: 10px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: 400;
  color: $color-white;

  z-index: 1;
  background-color: fade-out($color-d-one, 0.8);
  //filter: blur(1px);
}

// Линия между блоками
.title::before {
  content: "";
  width: 150px;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 75px;
  background-color: $color-b-three;
  z-index: 2;
  opacity: 0.5;
}

.iconBlock {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 40px;
  left: 40px;

  font-size: 30px;
  color: black;

  border-radius: 50%;
  //box-shadow: 0 0 5px fade-out(black, 0.8);
  background-color: $color-white;
  z-index: 1;

  opacity: 0;
  transition: opacity 100ms ease-in;
}

.item:hover .iconBlock {
  opacity: 0;
}

.img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;

  //z-index: -1;

  filter: blur(1px) grayscale(100%);
  opacity: 0.3;
  transition: filter 200ms ease-out;
}

.item:hover .img {
  filter: blur(0) grayscale(50%);
}

.item:hover .title {
  //color: $color-b-three;
}

.item:hover .title::before {
  //opacity: 1;
}



@media (max-width: $width-desktop + 100px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

// TODO Нужно отрегулировать блок под разрешение 320рх
@media (max-width: $width-tablet + 100px) {
  .list {
    grid-template-columns: 1fr;
  }
}