@import "variables";
@import "wrapper";


.modal {
  width: 500px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;

  color: $color-main;

  background-color: $color-white;
  box-shadow: 0 0 100vh 100vh fade-out(black, 0.5);

  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 20px;
  padding: 10px;

  text-transform: uppercase;
  font-weight: inherit;
  text-align: center;

  border-bottom: 1px solid fade-out($color-b-one, 0.5);
}

.block {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 400;
  margin-bottom: 5px;
  border-bottom: 1px solid fade-out($color-b-three, 0.5);
}

.input {
  padding: 5px;

  font-family: inherit;
  font-style: inherit;
  font-size: 14px;

  border: none;

  resize: none;

  &:focus {
    outline: 1px solid $color-main;
  }

  &::placeholder {
    opacity: 0.5;
  }
}

.submit {
  align-self: center;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 30px;
  color: $color-main;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    color: tomato;
  }
}