@import "variables";
@import "wrapper";

.banner {
  padding: 150px 0 250px;

  .wrapper {
  }
}

.title {
  //outline: 1px solid tomato;
  width: 1200px;
  //margin: 0 50px 25px;
  font-size: 60px;
  line-height: 50px;
  text-transform: uppercase;
  text-shadow: 0 0 10px fade-out(black, 0.8);
}

.titleDescription {
  font-size: 50px;
  font-weight: 300;
}

.button {
  display: inline-block;
  position: relative;
  //left: 50px;
}

@media (max-width: $width-desktop + 100px) {
  .banner {
    padding: 100px 50px 200px;

    .wrapper {
      //display: flex;
      align-items: center;
      gap: 100px;
    }
  }

  .title {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
  }

  .titleDescription {
    font-size: 20px;
    font-weight: 400;
  }

  .button {
    left: 0;
    font-size: 14px !important;
  }
}

@media (max-width: $width-tablet + 100px) {
  .banner {
    padding: 20px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  .title {
    //width: 400px;
    width: auto;
    text-align: center;
  }

  .button {
    margin: 0 auto;
  }

}

@media (max-width: 450px) {
  .banner {
    padding: 20px 0;
  }

  .title {
    line-height: 24px;
  }
}