@import "variables";
@import "wrapper";
@import "mixins";

.list {
  width: 300px;
  font-weight: 400;
}

.item {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid fade-out($color-b-one, 0.8);

  transition: border-color 200ms ease-out;

  &:hover {
    border-color: $color-b-one;
  }
}

.link {
  text-decoration: none;
  color: $color-main;
}

.active {
  color: $color-c-four;
}