@import "wrapper";
@import "variables";

.clients {
  .wrapper{

  }
}

.container{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.description {
  width: 600px;
}

.list {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
}

.item {
  width: 120px;
  height: 120px;

  opacity: 0.2;
  transition: opacity 1000ms ease-out;
}

.item:hover {
  opacity: 0.7;
  transition: opacity 50ms ease-out;
}
