@import 'variables';
@import "wrapper";

.copyright {
  display: flex;
  flex-direction: column;
}

.text, .link, .author, .authorLink {
  color: $color-white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

.authorLink {
  margin-left: 5px;
}