/* Образец
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumbolditalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  }
} */
