@import "variables";



.list {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 50px;
}

.item {
  transition: color 200ms ease-out;

  &:hover {
    color: $color-b-one;
  }
}

.icon {
  margin-right: 5px;
}

.link {
  display: flex;
  align-items: center;
  font-weight: 400;

  color: inherit;
  text-decoration: none;
}

@media (max-width: $width-desktop + 100px) {

}

@media (max-width: $width-tablet + 100px) {
  .list {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .item {
    padding: 20px 20px;

    border-bottom: 1px solid grey;
  }

  .item:first-child {
    box-shadow: 0 -2px 3px -3px black;
  }
}