@import "variables";
@import "wrapper";

.footer {
  color: $color-white;
  background-color: $color-main;

  .wrapper {
    border-top: 5px solid $color-b-three;
    padding: 50px 0 0;
    //transform: translateY(-5px);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.contacts {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  opacity: 0.6;
}

.mainList {
}

.socialsList {
  display: flex;
  gap: 10px;
}

.socialsItem {

}

.socialsLink {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-white;
  font-size: 30px;

  border-radius: 50%;
  //background-color: white;

  opacity: 0.4;

  &:hover {
    color: $color-white;

    border-radius: 50%;
    //background-color: $color-accent;
    box-shadow: 0 0 10px fade-out($color-white, 0.8);
    opacity: 1;
  }
}

.footerLists {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}

.footerListContainer {

}

.footerListTitle {
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: inherit;

  text-transform: uppercase;

  border-bottom: 1px solid $color-b-three;
}

.footerList {
  width: 250px;
}

.footerListItem {
  margin-bottom: 10px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}