.page-header {

  .wrapper {
    display: flex;
    justify-content: space-between;

    background-color: aquamarine;
  }

  //@media (max-width: $width-desktop + 100px) {
  //
  //}
  //
  //@media (max-width: $width-tablet + 100px) {
  //
  //}
}