@import "variables";
@import "wrapper";

.pageHeader {
  color: $color-main;
  background: transparent;

  .wrapper {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.otherPageHeader {
  background-color: $color-white;
}

.menu,
.title {
  display: none;
}

.logo {
  display: flex;
  color: $color-main;

  opacity: 85%;
}


.description {
  width: 170px;
  margin-left: 10px;
  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 700;

  opacity: 50%;
}

.rows {
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.container::before {
  content: "";
  width: 110%;
  height: 1px;
  position: absolute;
  top: 70px;
  right: 100px;

  background-color: $color-accent;
  opacity: 0.2;
}

.navigation {
  flex-grow: 1;
}



@media (max-width: $width-desktop + 100px) {
  .description {
    //display: none;
  }

  .container::before {
   right: 0;
  }
}

@media (max-width: 900px) {
  .description {
    display: none;
  }
}

@media (max-width: $width-tablet + 100px) {
  .mobileMenuClose {
    display: none;

    background-color: red;
  }

  .pageHeader {
    background-color: white;

    .wrapper {
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
      flex-wrap: wrap;
    }
  }

  .logo svg {
    width: 70px;
    height: 70px;
  }

  .container {
    display: none;
  }

  .title {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    border-bottom: 2px solid fade-out($color-accent, 0.3);
    color: $color-main;

  }

  .rows {
    width: 100%;
  }

  .menu {
    display: inline-block;
    background-color: transparent;
    border: none;
  }

  .menuIcon {
    color: $color-main;
    font-size: 35px !important;
  }

  .menuIcon,
  .menuIconOpen {
    color: $color-main;
    font-size: 35px !important;
  }

  .menuIconOpen {
    color: $color-accent;
  }

}

