@import "variables";
@import "wrapper";
@import "mixins";

.pageAbout {
  min-height: 300px;
  color: $color-main;
  background-color: $color-white;

  .wrapper {

  }
}

.mainContainer {
  display: flex;
  gap: 50px;
}

.page {
  width: 100%;
  height: 800px;
  margin-bottom: 100px;
  //border: 1px solid $color-b-one;
}

.title {
  margin-bottom: 20px;
  border-bottom: 1px solid fade-out($color-b-one, 0.9);
}

.link {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-b-one;
  text-decoration: none;
}