@import "variables";
@import "wrapper";
@import "mixins";

.service {
  position: relative;
  overflow: clip;

  .wrapper {
  }

  // todo Фоновая картинка локатора
  //&::before {
  //  content: "";
  //  width: 1000px;
  //  height: 1000px;
  //  position: absolute;
  //  bottom: -500px;
  //  right: -100px;
  //
  //  z-index: -1;
  //
  //  background-color: $color-main;
  //  background-image: url("../img/service/drop.jpg");
  //  background-repeat: no-repeat;
  //  background-size: contain;
  //
  //  opacity: 0.2;
  //  animation: blink 5s infinite alternate;
  //}
}

.list {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

.item {
  height: 75px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
  color: $color-b-two;

  background-color: $color-main-two;
  border-bottom: 1px solid $color-main-two;

  cursor: pointer; // Временно!

  transition: border-color 200ms ease-out;

  &:hover {
    border-color: $color-b-three;
    box-shadow: 0 0 10px fade-out($color-b-three, 0.9);
  }

  &.current {
    border-bottom: 1px solid $color-b-three;
    box-shadow: 0 0 10px fade-out($color-b-three, 0.9);
  }
}

.itemTitle {
  font-size: inherit;
  font-weight: 200;
}

.itemLogo {
  font-size: 30px;
  //background-color: tomato;
}

.descriptionList {
  min-height: 0;
  max-height: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;

  border: 1px solid fade-out($color-c-five, 0.5);

  list-style: disc;
  overflow: hidden;
  opacity: 0;

  transition: max-height 200ms ease-out, padding 100ms ease-in, opacity 200ms ease-out;

  &.listOn {
    padding: 20px 0;
    max-height: 176px;
    opacity: 1;
  }
}

.descriptionItem {
  width: calc(100% - 25px);
  padding-right: 20px;
  position: relative;
  left: 25px;
}

.descriptionLink {
  cursor: pointer; // временно!

  &:hover {
    color: $color-b-three;
  }

  &:active {

  }
}
