@import "variables";

.title {
  margin-bottom: 25px;
  position: relative;

  font-size: 30px;
  font-weight: 200;
  text-transform: uppercase;

  border-bottom: 1px solid fade-out($color-d-four, 0.7);

  transition: border-color 200ms ease-out;

  cursor: pointer; //Временно!

  .arrow {
    margin-left: 10px;
    margin-bottom: 5px;
    vertical-align: middle;
    transform: translateX(-40px) scale(0.5);
    opacity: 0;

    transition: opacity 200ms ease-out, transform 200ms ease-out, color 400ms ease-out;
  }

  &:hover {
    border-color: $color-c-five;
  }

  &:hover .arrow {
    color: $color-b-three;
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

