$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1400px;

$color-main: #162639;
$color-main-two: #6c81a0;
$color-accent: #1975c1;
$color-accent-two: #2fb5fb;
$color-white: rgba(60, 219, 255, 0.96);
