$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1400px;

$color-main: #162639;
$color-main-two: #283a50;
$color-main-three: #374c66;
$color-main-four: #475e7d;
$color-main-five: #546c8d;

$color-accent: #1975c1;
$color-accent-two: #2fb5fb;

// chatGPT
$color-b-one: #1A478C;
$color-b-two: #D3D3D3;
$color-b-three: #87CEEB;
$color-b-four: #8B4513;

// colorScheme
$color-c-one: #162639;
$color-c-two: #17202B;
$color-c-three:#071525;
$color-c-four: #54759C;
$color-c-five: #677F9C;

$color-d-one: #57401D;
$color-d-two: #413521;
$color-d-three:#392609;
$color-d-four: #AB8A55;
$color-d-five: #AB936C;


$color-white: #D3D3D3;
