@import "variables";
@import "wrapper";

.warranty {
  position: relative;
  color: $color-main;
  overflow: hidden;

  background-color: $color-white;

  .wrapper{
  }
}

.warranty::before {
  content: "";
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -450px;
  left: -450px;

  z-index: 0;
  background-image: url("../img/drop.png");
  background-repeat: no-repeat;
  background-size: cover;

  transform: rotate(20deg);
  opacity: 0.05;
}

.list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  width: 40px;
  height: 40px;
  margin: 60px 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: $color-white;

  background-color: fade-out($color-main, 0.3);

  transform: rotate(45deg);
}

.icon {
  font-size: 30px;
}

.title {
  height: 40px;
  margin-bottom: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;

  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.description {
  margin-bottom: 20px;

  text-align: center;
  font-weight: 300;

  border-top: 1px solid fade-out($color-b-three, 0.5);
}
