.wrapper {
  width: $width-desktop;
  margin: 0 auto;



  @media (max-width: $width-desktop + 100px) {
    width: 100%;
    padding: 0 50px;
  }

  @media (max-width: $width-tablet + 100px) {
    min-width: $width-mobile;
    max-width: $width-tablet;
    padding: 0;
  }
}